.idheader{
    margin-left: 1%;
}
.nameheader {
    margin-left: 1.8%;
    width: fit-content;
    text-align: center;
}
.name2header {
    width: fit-content;
    margin-left: 4.8%;
    text-align: center;
}
.emailheader {
    margin-left: 10%;
    width: fit-content;
    text-align: center;
}
.typeidheader {
    margin-left: 12%;
    width: fit-content;
    text-align: center;
}
.skillidheader{
    margin-left: 3%;
    width: fit-content;
    text-align: center;
}
.hourrateheader{
    width: fit-content;
    margin-left: 2.2%;
}
.dailycapheader{
    margin-left: 2%;
    width: fit-content;
}
.dateStyleheader {
}
.actions{
    width: fit-content;
    margin-left: auto;
    margin-right: 1%;
}