.nametec {
    width: 120px;
    margin-left: 1%;
    text-align: left;
}
.name2tech {
    width: 120px;
    margin-left: 1%;

    text-align: left;
}
.emailtech {
    width: 250px;
    margin-left: 1%;
    text-align: left;
}
.typeid {
    width: 25px;
    margin-left: 1%;
    text-align: center;
}
.skillid{
    width: 100px;
    margin-left: 2.5%;
    text-align: center;
}
.hourrate{
    width: 60px;
    margin-left: 2%;
}
.dailycap{
    width: 10px;
    margin-left: 4%;
}
.lastitems{
    display: flex;
    margin-left: auto;
}
.dateStyle {
    margin-right: 10%;
}

.btnStyle  {
    background: #ff0000;
    color: #fff;
    border: none;
    padding: 5px 9px;
    border-radius: 50%;
    cursor: pointer;
}